repos:
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        language_version: default
        additional_dependencies: ["setuptools>=61.0"]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        language_version: default
        additional_dependencies: ["setuptools>=61.0"]
  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.7.4
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        args: ["--rcfile=.pylintrc", "--recursive=y", "."]
        pass_filenames: false
        additional_dependencies: []
  - repo: local
    hooks:
      - id: pip-audit
        name: pip-audit
        language: python
        entry: python scripts/pip_audit_hook.py
        additional_dependencies: ["pip-audit"]
        pass_filenames: false
