-r requirements.txt
pytest==8.*
pylint==3.*
black==24.*
isort==5.*
pre-commit==4.*
pandas==2.*
openpyxl==3.*
networkx==3.*
geopandas==1.*
matplotlib==3.*
seaborn==0.*
fiona==1.*
pyproj==3.*
coverage==7.*
img2pdf==0.*